.news-card {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
}

.news-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-image-container {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
}

.news-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.news-content {
    flex-grow: 1;
}

.news-title {
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.news-title:hover {
    color: #0056b3;
}

.news-description {
    color: #6c757d;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5.5em;
    line-height: 1.5em;
    word-break: break-word;
    white-space: normal;
}

.news-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: #6c757d;
    position: absolute;
    bottom: 14px;
}

.news-platform {
    font-weight: bold;
    text-decoration: none;
    color: #6c757d;
}

.news-platform:hover {
    color: #343a40;
}

.news-categories {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    gap: 5px;
}
