.news-card {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    width: 100%;
    //max-width: 1200px;
    height: 220px;
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
        width: 100%;
        padding: 10px;
        margin: 15px 0;
    }

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.news-row {
    display: flex;
    align-items: center;
    gap: 20px; // Space between image & text

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}

.news-image-container {
    flex: 0 0 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    @media (max-width: 768px) {
        flex: 1;
        width: 100%;
    }
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.news-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.news-title {
    font-size: 18px;
    font-weight: bold;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: #0056b3;
    }
}

.news-description {
    color: #6c757d;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.5em;
    line-height: 1.5em;
    word-break: break-word;
}

.news-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #6c757d;
}

.news-platform {
    font-weight: bold;
    text-decoration: none;
    color: #6c757d;

    &:hover {
        color: #343a40;
    }
}

.news-categories {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    gap: 5px;

    .badge {
        background-color: #6c757d;
        color: white;
        font-size: 12px;
        padding: 3px 8px;
        border-radius: 5px;
    }
}
